:root {
    --color-white: #ffffff;
    --color-black: #000;
    --color-success: #75D00F;
    --color-danger: #F33950;
    --color-warning: #FFB70A;
    --color-star: #FDCF2B;
    --color-heart: #bd0000;
  
    --color-light-background1: #fff;
    --color-light-background2: #fafafa;
    --color-light-background3: #f7f7f8;
    --color-light-background4: #fafafb;
    --color-light-button-transparent: #FFFFFF4D;
    --color-light-neutral: #969696;
    --color-light-gray: #ACACAC;
    --color-light-text-highlight: #9B9CB8;
    
    --color-light-text100: #000000;
    --color-light-text50: #818094;
    --color-light-text30: #4d4d4d;
    --color-light-text10: #333333;
    --color-light-primary: #9c4e9d;
    --color-light-pink: #f5edf5;
    --color-light-blue-deep: #101B2C;
    --color-light-blue-dark: #5b93ff;
    --color-light-blue: #62D6EE;
    --color-light-purple: #7658CC;
    --color-light-green-dark: #0A3A17;
    --color-light-green: #A7E84B;
    --color-light-green-light: #C6FD55;
    --color-light-yellow: #ffd66b;
    --color-light-red: #E87A6D;
  }
  