/* assets/main.css */
body {
  font-family: "Nunito", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.input-field-label {
  color: var(--color-light-text50);
  display: block;
  margin-bottom: 0.5rem;
}

.some-class {
  background-color: var(--color-light-background1);
  color: var(--color-light-text100);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.element::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

*:-webkit-scrollbar {
  display: none !important;
}

.bg-light-1 {
  background-color: var(--color-light-background1);
}

.bg-light-2 {
  background-color: var(--color-light-background2);
}

.bg-light-3 {
  background-color: var(--color-light-background3);
}
.bg-primary {
  background-color: var(--color-light-primary);
}

.bg-light-btn-transparent {
  background-color: var(--color-light-button-transparent);
  color: var(--color-light-text100);
}

.txt-light-neutral {
  color: var(--color-light-neutral);
}

.txt-light-gray {
  color: var(--color-light-gray);
}

.txt-light-highlight {
  color: var(--color-light-text-highlight);
}

.txt-light-100 {
  color: var(--color-light-text100);
}

.txt-light-50 {
  color: var(--color-light-text50);
}

.txt-light-30 {
  color: var(--color-light-text30);
}

.txt-light-10 {
  color: var(--color-light-text10);
}

.txt-light-primary {
  color: var(--color-light-primary);
}

.txt-light-pink {
  color: var(--color-light-pink);
}

.txt-light-blue-deep {
  color: var(--color-light-blue-deep);
}

.txt-light-blue-dark {
  color: var(--color-light-blue-dark);
}

.txt-light-blue {
  color: var(--color-light-blue);
}

.txt-light-purple {
  color: var(--color-light-purple);
}

.txt-light-green-dark {
  color: var(--color-light-green-dark);
}

.txt-light-green {
  color: var(--color-light-green);
}

.txt-light-green-light {
  color: var(--color-light-green-light);
}

.txt-light-yellow {
  color: var(--color-light-yellow);
}

.txt-light-red {
  color: var(--color-light-red);
}

.txt-subTitle {
  font-size: 22px;
  font-weight: 600;
}


.txt-title {
  font-size: 28px;
  font-weight: 600;
}
